html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, code, del, dfn, img, q, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
  color: #595B5B;
  font-weight: normal;
  padding: 0; }

html, body, input, button {
  font-family: "Lucida Sans Unicode","Lucida Grande",Geneva,helvetica,sans-serif; }

body {
  background: url("/vivo_admin/assets/header-background.png") no-repeat scroll center 0; }

section {
  padding: 0 10px; }

a {
  color: #235f9c; }

h2 {
  color: #a1b70d;
  font-weight: bold;
  line-height: auto; }

h3 {
  font-weight: normal;
  line-height: inherit; }

h2, h3 {
  font-size: 1.5em; }

h3, h6 {
  color: #064d68; }

h4 {
  font-size: 15.5px; }

h6 {
  font-size: 1em;
  padding-top: 0;
  margin: 10px 0 4px; }

.navbar {
  max-width: 960px;
  margin: 0 auto; }

.navbar .nav > li > a {
  padding: 10px 5px; }

.navbar li a.selected {
  background: url("/vivo_admin/assets/selected-main-nav.jpg") no-repeat scroll 0 -4px transparent;
  color: #002B44;
  padding-left: 13px; }

.breadcrumb {
  background-color: inherit;
  font-size: small;
  padding: 0;
  margin-bottom: 0; }

.container-fluid {
  padding-left: 40px;
  max-width: 960px;
  margin: 0 auto;
}

#content {
  padding-left: 5%;
  min-height: 300px; }

.row-fluid [class*="span"] {
  margin-left: 0; }

.keyword-source {
  float: right; }

.btn-success {
  background: url("/vivo_admin/assets/alert-overlay.png") repeat-x scroll 0 0 #749a02; }

.btn-success:hover {
  background: #B2D15A; }

.list-date {
  margin-left: 0.5%;
  padding: 0.1em 0.8em;
  background-color: #F4F4F4;
  font-size: smaller; }

.hidden {
  display: none !important; }

[class^="icon-"]:before {
  text-decoration: none; }

a[class^="edit-"] {
  text-decoration: none;
  cursor: pointer; }

.field_with_errors label {
  color: red; }

.required:before {
  color: red;
  content: '* ';
  font-size: large;
  vertical-align: -5px; }

.navbar img.brand {
  padding: 27px 10px 10px 0; }

#header-search {
  position: absolute;
  right: 17%;
  top: 40px; }

#header-navbar-inner li {
  margin: 10px 0;
  border-right: 1px solid #7C7D7F; }
  #header-navbar-inner li a, #header-navbar-inner li p {
    color: #ffffff;
    text-shadow: none;
    font-size: 78%; }
  #header-navbar-inner li a:hover, #header-navbar-inner li a:active {
    color: #999999;
    text-shadow: none; }

#header-navbar-inner {
  background-color: transparent;
  background-image: none;
  border: none;
  padding: none; }

#header-navbar-inner li:last-child {
  border: none; }

nav#header-pills {
  position: absolute;
  right: 17%; }
  nav#header-pills a, nav#header-pills p {
    padding: 2px 10px;
    margin: 0;
    line-height: 9px; }

#header-search button {
  font-size: medium; }

.input-append .btn.btn-success {
  border: 0; }

#tabs-navbar-inner {
  background-color: #F7F9F9;
  background-image: none;
  margin-left: 20px;
  margin-top: 10px;
  width: 95%; }

#tabs-navbar-inner li {
  background: url("/vivo_admin/assets/separator-main-nav.jpg") no-repeat scroll right -2px transparent;
  padding: 0 10px; }

a.icon-star {
  color: #B5B5B5; }
  a.icon-star:hover {
    color: #F09905;
    cursor: pointer;
    text-decoration: none; }

button.btn-link {
  color: #0736A4;
  padding: 0; }
  button.btn-link:hover {
    color: #CC3300;
    cursor: pointer; }

.popover-content {
  line-height: 1.3em; }

#add-keyword {
  margin-left: 0.5%; }
  #add-keyword a {
    color: #235F9C; }
    #add-keyword a:hover {
      color: #0680CD;
      cursor: pointer;
      text-decoration: none; }

article#person_keywords p {
  min-height: 0px; }

#new-webpage input[type="text"] {
  width: 90%; }

.future-status {
  font-size: small;
  font-style: italic; }

footer {
  margin-top: 20px; }

#footer-nav {
  margin-top: 15px; }

.agent-netid {
  line-height: 1.7em; }

.agent-netid > form {
  display: inline; }

a#add-new-delegate {
  font-size: large; }

a#assign-agent {
  color: #A1B70D; }
  a#assign-agent:hover {
    color: #728302; }

#spinner-container {
  float: left;
  margin-left: 20px;
  margin-top: 15px; }

#agents-search-results {
  float: left;
  margin-bottom: 10px;
  margin-left: 0; }
  #agents-search-results > ul > li {
    float: left;
    width: 50%; }

/* Show / Hide */
.hide-dropdown {
  color: #666666; }
  .hide-dropdown > .caret {
    border-top-color: #B5B5B5;
    margin-top: 8px; }

div.remove-dropdown .dropdown-menu {
  margin: 2px 0 0 -60px; }

div.addremove_controls {
  font-size: 0.7em;
  margin-top: 0.5em; }

div.well-small {
  padding-bottom: 0; }

.short_content {
  display: block;
  /*   more/less feature doesn't work in Chrome without this  */ }

.all_content {
  overflow: hidden;
  /* Recommended: if not hiding the text before it's shortened. */
  display: block;
  /*    more/less feature doesn't work in Chrome without this  */ }

.more_ellipses {
  white-space: nowrap; }

.more_link {
  white-space: nowrap; }

.form-inline .checkbox {
  padding-right: 10px;
}

#report li {
  padding-bottom: 8px;
}

.form-horizontal .control-group {
  margin-bottom: 10px; }

.form-horizontal.small-input .control-label {
  width: 100px;
  text-align: left; }

.form-horizontal.small-input .controls {
  width: 280px;
  margin-left: 120px; }

.form-horizontal.small-input .controls.wide-controls {
  width: 100%; }

.form-horizontal.small-input .control-label.wide-control-label {
  width: 133px; }

.form-horizontal.small-input .control-label.medium-wide-control-label {
  width: 118px; }

.wide-control-group {
  width: 100%; }

.form-horizontal.small-input .controls.medium-wide-controls {
  width: 325px;
  margin-left: 75px; }

.art-item {
  border-bottom: 1px solid #BBBBBB;
  min-height: 27px; }

.form-horizontal.small-input .control-label.small-control-label {
  width: 55px;
  margin-left: 7px; }

.form-horizontal.small-input .control-label.icon-label {
  padding-top: 0; }

/*Override for reporter*/
.form-horizontal .control-label {
  width: 70px;
}

.form-horizontal .controls {
  margin-left: 90px;
}

.affix {
  top: 0;
  right: 20px;
}

.affix-container {
  height: 50px; }

#options {background-color: #CFEDED;}

.wide-text-area {
  width: 79%; }

.well {padding-bottom: 5px;}

/* Media queries */
@media (max-width: 900px) {
  #header-search {
    float: left; } }
@media (max-width: 570px) {
  #footer-nav {
    float: left; } }
@media (max-width: 525px) {
  input {
    width: 120px; } }
@media (max-width: 435px) {
  input {
    width: 80px; }

  .navbar .nav > li > a {
    padding-left: 7px;
    padding-right: 7px; } }
